<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <h1>Products</h1>
        {% bootstrap_messages %}
        <div class="row">
           {% for product in products %}

                    <div class="col">
                        <div class="card" style="width: 18rem;">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">Quantity Stock: {{ product.stock  }}</p>
                            <h6 class="card-subtitle mb-2 text-muted">Price: {{ product.cost }}</h6>
                        </div>
                       </div>
                    </div>
           {% endfor %}
        </div>
    </div>
</body>
</html>